
body {
  background-color: #FFE1E6
}

header {
  /*background-color: #eedbd1;*/
  font-family: 'EB Garamond', serif;
}

#locationList {
  width: 20%;
  margin-left: 8%;
  position: relative;
  top: 4em;
  text-align: center;
}

#opHours {
  text-align: center;
  width: 20%;
  margin-left: 70%;
}

nav {
  background-color: #E0CC97;
}

#navBar {
  float:left;
  display: inline;
}

#navBarHome {
  margin-left: 20%;
  margin-right: 20%;
}

#navBarHome a {
  float: left;
  font-family: 'EB Garamond', serif;
  font-size: 1.25em;
  color: black;
  text-align: center;
  width: 20%;
  color: #4D8963;
}

#navBarHome a:hover {
  /*background: url('../imgs/chinook.jpg') no-repeat;
  background-position: 40%;
  border-radius: 40%;
  width: 40%;*/
}

#navBarSales a {
  /*float: left;
  margin: 0.5em 10em 0.5em;
  font-family: 'Alegreya', serif;
  font-size: 1.5em;*/
}

.clearfix {
  clear: both;
}


#salmonPic {
  bottom: 5em;
  position: relative;
  margin-left: 42%;
  width: 15%;
}


h1 {
  font-size: 2.75em;
  bottom: 2em;
  font-family: 'Cookie', cursive;
  width: 20%;
  position: relative;
  text-align: center;
  margin-left: 40%;
  color: #4D8963;
}

#canPic {
  margin: .5%;
  width: 99%;
  filter: brightness(64%);
}

#quote {
  position: relative;
  color: white;
  width: 46%;
  font-size: 2.15em;
  margin-left: 27%;
  top: -5em;
  z-index: 100;
  font-style: italic;
  line-height: 1.15;
  text-align: center;
}

#aboutTitle {

}

#aboutBlock {

}

#cookiePic {
  width: 30.25%
}

#familyPic {
  width: 40.67%;
}

#filler400_70 {
  width: 40.67%;
}

#cutterPic {
  width: 26%;
}


#filler260_130{
  width: 26%;
}

#merchBlock {
  border: 2px black solid;
  margin: 5em;
  width: 33em;
  height: 328px;
  background-color: rgb(144, 213, 213);
}

#fishShirt {

}

#merchList {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}

.menuLists {
  margin-top: 5em;
  width: 300px;
  height: 300px;
  font-size: 1.5em;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 0.25em solid black;
  border-radius: 20%;
}

#menuTitle {
  margin-left: 2em;
}

#schoolPic {
  width: 15%;
  margin-left: 42.5%;
  filter: opacity(0.12);
}

#contactBlock {
  /*margin-top: 3em;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: white;
  height: 12em;
  font-family: monospace;
  font-size: 1.5em;*/
}

.emailBlock {
  /*float: left;
  width: 10em;
  margin-left: 3em;*/
}

.phoneBlock {
  /*width: 10em;
  float: left;
  margin-left: 3em;*/
}

.addressBlock {
  /*width: 10em;
  float: left;
  margin-left: 3em;*/
}

#leftMenu {
  margin-top: 5%;
  margin-left: 16%;
  float: left;
}

#salesContent table {
  background-color: white;
  margin: auto;
}

#salesContent tr:nth-child(odd){
  background-color: grey;
}

#salesContent tr:nth-child(even){
  background-color: lightblue;
}

#salesContent tr {
  font-size: 1.2em;
}

#salesContent tr:hover {
  background-color: rgb(238, 40, 255);
  color: rgb(227, 255, 0);
}

#salesContent #tableHeader {
  background-color: black;
  color: white;
}

#salesContent td {
  text-align: right;
  padding: 2px;
}

#salesContent th {
  font-weight: bold;
  margin: 3em;
  padding: 2px;
}

#aboutTitle {
  font-family: cursive;
  margin-top: 1em;
  font-size: 2.5em;
}

#paraBlock {
  float: left;
  width: 30em;
  height: 20em;
  background-color: white;
  border: 0.25em solid black;
  border-radius: 20%;
  margin-left: 8em;
}

#aboutPara {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  line-height: 1.5em;
}

#merchList{
  font-family: serif;
  font-size: 1.5em;
  color: black;
}

label {
  font-size: 0.75em;
}

form table {
  margin: auto;
  margin-top: 1em;
}

#formBox {
  margin-top: 3em;
  margin-left: 8.5%;
  width: 25%;
  height: 8em;
  border: black solid thin;
  background-color: white;
}

#disclaim {
  animation-name: flash;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  margin-left: 12em;
  font-size: 1.5em;
}

@keyframes flash {
  from {color: red;}
  to {color: black;}
}
