* {
  box-sizing: border-box;
}

body {
  background-color: #FFE1E6
}

a {
  text-decoration: none;
}

header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9f0251+0,ec799a+17,e0cc97+41,e1b378+62,69a583+79,4d8963+100 */
background: rgb(159,2,81); /* Old browsers */
background: -moz-linear-gradient(top, rgba(159,2,81,1) 0%, rgba(236,121,154,1) 17%, rgba(224,204,151,1) 41%, rgba(225,179,120,1) 62%, rgba(105,165,131,1) 79%, rgba(77,137,99,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(159,2,81,1) 0%,rgba(236,121,154,1) 17%,rgba(224,204,151,1) 41%,rgba(225,179,120,1) 62%,rgba(105,165,131,1) 79%,rgba(77,137,99,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(159,2,81,1) 0%,rgba(236,121,154,1) 17%,rgba(224,204,151,1) 41%,rgba(225,179,120,1) 62%,rgba(105,165,131,1) 79%,rgba(77,137,99,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f0251', endColorstr='#4d8963',GradientType=0 ); /* IE6-9 */
}

nav {
  border-bottom: 1px solid grey;
  background-color: #9F0251;
}

#navBar {
  display: inline;
}

#navBarHome a {
  float: left;
  margin: 0.5em 0 0.5em 16%;
  font-family: 'Alegreya', serif;
  font-size: 1.5em;
}

#navBarSales a {
  float: left;
  margin: 0.5em 45% 0.5em;
  font-family: 'Alegreya', serif;
  font-size: 1.5em;
}

.clearfix {
  clear: both;
}

#logo {
  width: 787px;
  height: 246px;
  position: relative;
  margin: auto;
  margin-bottom: 3em;
}

#salmon {
  position: absolute;
}

h1 {
  margin-left: 4.6em;;
  z-index: 100;
  position: absolute;
  color: rgba(40, 251, 138);
  top: 2.5em;
  font-family: 'Alegreya', serif;
  font-size: 3em;
}

#homeContent h2 {
  text-align: center;
}

#canPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  border: 1em solid black;
  margin-bottom: 4em;
}

.menuLists {
  margin-top: 3em;
  width: 18em;
  height:12em;
  font-size: 1.5em;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 0.25em solid black;
  border-radius: 20%;
}

#leftMenu {
  margin-top: 5%;
  margin-left: 16%;
  float: left;
}

#rightMenu {
  margin-top: 5%;
  float: left;
  margin-left: 5%;
}

table {
  background-color: white;
  margin: auto;
}

tr:nth-child(odd){
  background-color: grey;
}

tr:nth-child(even){
  background-color: lightblue;
}

tr {
  font-size: 1.2em;
}

tr:hover {
  background-color: rgb(238, 40, 255);
  color: rgb(227, 255, 0);
}

#tableHeader {
  background-color: black;
  color: white;
}

td {
  text-align: right;
  padding: 2px;
}

th {
  font-weight: bold;
  margin: 3em;
  padding: 2px;
}

#paraBlock {
  width: 30em;
  height: 20em;
  background-color: white;
  border: 0.25em solid black;
  border-radius: 20%;
  margin: auto;
}

#aboutPara {
  margin-top: 5em;
}

#disclaim {
  animation-name: flash;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  margin-left: 12em;
  font-size: 1.5em;
}

@keyframes flash {
  from {color: red;}
  to {color: black;}
}
