.cookieFont {
  font-family: 'Cookie', cursive;
}

.slab {
  font-family: 'Josefin Slab', serif;
}

.text_center {
  text-align: center;
}

.allCaps {
  text-transform: uppercase;
  margin-bottom: 0.3em;
  font-size: 1.04em;
  font-weight: 600;
}

.hr {
  margin: 0 30%;
  border-style: solid;
  color: #9F0251;
}

body {
  background-color: #FFE1E6;
  height: 100%;
}

header {
  height: 100%;
}

#locationList {
  width: 20%;
  margin-left: 8%;
  position: relative;
  top: 4em;
  text-align: center;
}

#opHours {
  text-align: center;
  width: 20%;
  margin-left: 70%;
}

nav {
  background-color: #E0CC97;
  font-weight: 600;
}

#navBar {
  float:left;
  display: inline;
}

#navBarHome {
  margin-left: 20%;
  margin-right: 20%;
}

#navBarHome a {
  float: left;
  font-size: 1.25em;
  color: black;
  text-align: center;
  width: 20%;
  color: #4D8963;
}

#navBarHome a:hover {
  /*background: url('../imgs/chinook.jpg') no-repeat;
  background-position: 40%;*/
  /*border-radius: 40%;*/
  /*width: 100%;*/
  /*filter: opacity(0.1);*/
}

#navBarSales a {
  /*float: left;
  margin: 0.5em 10em 0.5em;
  font-family: 'Alegreya', serif;
  font-size: 1.5em;*/
}

.clearfix {
  clear: both;
}

#oval {
  bottom: 5em;
  position: relative;
  height: 10em;
  width: 28em;
  border-radius: 66%;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 1em;
  border: 1px #E1B378 solid;
}

h1 {
  font-size: 2.75em;
  width: 80%;
  margin: 2% 10%;
  position: absolute;
  text-align: center;
  color: #4D8963;
}

#salmonPic {
  position: absolute;
  margin-left: 15%;
  margin-top: 8%;
  width: 70%;
}

#canPic {
  margin: .5%;
  width: 99%;
  filter: brightness(64%);
  margin-bottom: 1em;
}

#quote {
  position: relative;
  color: white;
  width: 46%;
  font-size: 2.15em;
  margin-left: 27%;
  top: -7em;
  z-index: 100;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

#aboutBlock {
  overflow: hidden;
  background-color: white;
  bottom: 9em;
  margin: 4em auto -7em;
  position: relative;
  width: 100%;
  height: 24em;
}

#aboutHead {
  text-align: center;
  font-size: 3em;
  line-height: 3;
  height: 2.5em;
  color: #4D8963;
}

#bioPara {
  font-size: 1.25em;
  line-height: 1.25;
  width: 55%;
  margin: 0 auto;
  padding-bottom: 8%;
  font-family: 'Josefin Slab', serif;
  text-indent: 3em;
}

#chinookPic {
  width: 44%;
  position: relative;
  margin-left: 28%;
  bottom: 4.65em;
}

#menuBlock {
  height: 36em;
  position: relative;
}

#menuHead {
  text-align: center;
  font-size: 3em;
  line-height: 3;
  height: 2.1em;
  color: #9F0251;
}

#menuList {
  margin: 4em 39%;
  width: 24%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
 #menuList li {
   margin: 0.5em 0 1.2em;
 }

 .cookie {
   font-weight: 400;
   font-size: 1.5em;
   text-transform: uppercase;
   color: #4D8963;
 }

 .cookieDesc {
   text-transform: lowercase;
   text-indent: 1em;
   color:  #69A583;
 }

#photoBar {
  background-color: #E0CC97;
  height:320px;
}

#photoBlock {
  top: 5px;
  height: 300px;
  position: relative;
  margin: 0.5em;
  box-sizing: content-box;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: white solid 5px;
}

#familyPic {
  width: 400px;
  position: absolute;
  top: 0;
}

#filler400_70 {
  width: 400px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#cutterPic {
  position: absolute;
  top: 0;
  left: 405px;
  transform: rotate(90deg) scaleX(-1);
}

#filler260_130{
  width: 260px;
  position: absolute;
  right: 0;
  top: 0;
}

#cookiePic {
  width: 260px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#merchBlock {
  /*border: 2px black solid;
  margin: 5em;
  width: 33em;
  height: 328px;
  background-color: rgb(144, 213, 213);*/
}

#fishShirt {

}

#merchList {
  /*float: right;
  margin-right: 1em;
  margin-top: 1em;*/
}

.menuLists {
  /*margin-top: 5em;
  width: 300px;
  height: 300px;
  font-size: 1.5em;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 0.25em solid black;
  border-radius: 20%;*/
}

#menuTitle {
  /*margin-left: 2em;*/
}

#contactBlock {
  /*margin-top: 3em;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: white;
  height: 12em;
  font-family: monospace;
  font-size: 1.5em;*/
}


#leftMenu {
  margin-top: 5%;
  margin-left: 16%;
  float: left;
}

#salesContent table {
  background-color: white;
  margin: auto;
}

#salesContent tr:nth-child(odd){
  background-color: grey;
}

#salesContent tr:nth-child(even){
  background-color: lightblue;
}

#salesContent tr {
  font-size: 1.2em;
}

#salesContent tr:hover {
  background-color: rgb(238, 40, 255);
  color: rgb(227, 255, 0);
}

#salesContent #tableHeader {
  background-color: black;
  color: white;
}

#salesContent td {
  text-align: right;
  padding: 2px;
}

#salesContent th {
  font-weight: bold;
  margin: 3em;
  padding: 2px;
}

#aboutTitle {
  font-family: cursive;
  margin-top: 1em;
  font-size: 2.5em;
}

#paraBlock {
  float: left;
  width: 30em;
  height: 20em;
  background-color: white;
  border: 0.25em solid black;
  border-radius: 20%;
  margin-left: 8em;
}

#aboutPara {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  line-height: 1.5em;
}

#merchList{
  font-family: serif;
  font-size: 1.5em;
  color: black;
}

label {
  font-size: 0.75em;
}

form table {
  margin: auto;
  margin-top: 1em;
}

#formBox {
  margin-top: 3em;
  margin-left: 8.5%;
  width: 25%;
  height: 8em;
  border: black solid thin;
  background-color: white;
}

#disclaim {
  animation-name: flash;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  margin-left: 12em;
  font-size: 1.5em;
}

@keyframes flash {
  from {color: red;}
  to {color: black;}
}

/* Footer CSS below */

.emailBlock {
  font-size: 2em;
  width: 20%;
  margin-left: 15%;
  position: absolute;
  text-align: center;
  margin-top: 2em;
}

.phoneBlock {
  font-size: 2em;
  width: 20%;
  margin-left: 65%;
  position: absolute;
  text-align: center;
  margin-top: 2em;
}

.addressBlock {
  font-size: 2em;
  width: 20%;
  margin-left: 40%;
  position: absolute;
  text-align: center;
  margin-top: 2em;
}

#fishSchool {
  height: 100%;
  background-image: url("../imgs/fish.jpg");
  background-size: 10%;
  filter: opacity(0.12);
}

#schoolPic {
  width: 15%;
  margin-left: 42.5%;
  filter: opacity(0.1);
}

footer {
  margin-top: 4em;
  height: 12em;
  background-color: #4D8963;
  font-size: 0.5em;
}

h3 {
  text-align: center;
  position: absolute;
  margin: 0.5em 40%;
  width: 20%;
  font-size: 2em;
}
